
<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Cover</th>
		      <th scope="col">Book Title</th>
		      <th scope="col">Author</th>
		      <th scope="col">Rating</th>
		    </tr>
		  </thead>
		  <tbody>
          <% @books.each do |book| %>
		    <tr>
            <td class="w-25">
              <img src="<%=book.img_url %>" class="img-fluid img-thumbnail" alt="<%= book.title %>">
            </td>
            <td><%=link_to book.title, book %></td>
            <td><%=link_to book.author.name, author_path(book.author) %></td>
            <% avg_rating = book.reviews.average(:rating) %>
              <% if avg_rating.nil? %>
                <% avg_rating = "N/A"%>
              <% end %>
            <td><%=avg_rating%></td>
		    </tr>
          <% end %>
		    
		  </tbody>
		</table>   
    </div>
  </div>
</div>