<h1><%= @book.title %></h1>
    <%= image_tag @book.img_url %>

    <h4>Author: <%= link_to @book.author.name, @book.author %></h4>
    

<ul>   

    <h4>Description: </h4><%= @book.description %>
    <br><hr>
    <h4>Genres:</h4>
    
        <% @book.genres.uniq.each do |genre| %>
            <ol><%= genre.genre_name %></ol>
        <% end %>
        
    <br><hr>
    <h4>Reviews: </h4>
        <% @book.reviews.each do |review| %>
            <ol><p> Title: </p> <%= review.title %></ol><br>
            <ol><p> Average Rating: </p><%= review.rating%></ol><br>
            <ol><p> Comment: </p><%= review.comment%></ol><br>
            <ol><p> Reader: </p><%= review.user_profile.name%></ol><br><hr>
        <% end %>
    <li><h4>ISBN: </h4><%= @book.isbn %></li><br>
    
    <%# <li><h4>Rating: </h4><%= @book.average_rating</li> %>
    
    <%# <% if @book.reviewed_books.any? %>
     <%# <li><h4>Rating: </h4><%= @book.books.average(:rating) %>     <%# <% end %>



</ul>
<%= button_to 'Write a Review', new_review_book_path(book_id: @book.id), method: :get, action: 'show'%>