<br><br>
<div class="container w-50">
<h1>Write a new Review</h1>

<div class="form-group">
    <%= form_for @review do |f| %>
        <%= f.label :title, "Title:" %>
        <%= f.text_field :title, class: "form-control" %><br>
        <%= f.label :comment, "Review:" %>
        <%= f.text_area :comment, class: "form-control" %><br>
        <%= f.label :rating, "Rating (1-5):"%>
        <%= f.number_field :rating, class: "form-control" %><br><br>

        
        <%= f.hidden_field :book_id, value: @book_id%>
        
        <%= f.hidden_field :user_profile_id, class: "form-control", value: @user.id %>
        
        

        <%= f.submit "Add your review",  class: "btn btn-primary"%>
    <% end %>
    
</div>

</div>
