 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Awesome Reads', books_path, class: 'navbar-brand', id: 'logo' %>  
      <%# <a class="navbar-brand" href="#">Awesome Reads</a> %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            
            <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
          </li>
          <li class="nav-item">
            <%= link_to 'Reviewed Books', reviewed_books_path, class: 'nav-link' %>
            <%# <a class="nav-link" href="#">Link</a> %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Temp Views
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'All Users', user_profiles_path, class: 'dropdown-item' %>
              <%= link_to 'Create a New User', new_user_profile_path, class: 'dropdown-item' %>
              <%= link_to 'Write a New Review', new_review_path, class: 'dropdown-item' %>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-4 my-lg-2">
          <%= form_tag(search_books_path, method: 'get', class: 'navbar-form navbar-right') do %>
            <%= search_field_tag :q, params[:q], class: 'form-control', placeholder: 'Search Book Title'  %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-outline-success my-2 my-sm-0' %>
          <% end %>
          
          <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
          <%# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
        </form>
         <!-- CHECK TO SEE IF LOGGED IN, IF SO UPDATE NAVBAR PROFILE NAVIGATION -->
          <% if @current_user_profile %>
            <div class="navbar-nav">
            <%= link_to "#{@current_user_profile.name}'s Profile", user_profile_path(@current_user_profile), class: "nav-item nav-link mx-3" %>
            <%= link_to "Logout", sessions_path, method: :delete, class: "nav-item nav-link mx-3" %>
          <% else %>
            <%= link_to "Sign in", login_path, class: "nav-item nav-link mx-3" %>
            <%= link_to "Sign up", new_user_profile_path, class: "nav-item nav-link mx-3" %>
          <% end %>
      </div>
    </nav>
